<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href={{ asset("img/favicon.ico") }} type="image/x-icon">
    <link rel="apple-touch-icon" href={{ asset("img/apple_icons_57x57.png") }}>
    <link rel="apple-touch-icon" sizes="72x72" href={{ asset("img/apple_icons_72x72.png") }}>
    <link rel="apple-touch-icon" sizes="114x114" href={{ asset("img/apple_icons_114x114.png" )}}>
    <title>OC Plateforme</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href={{ asset("css/bootstrap.min.css") }} type="text/css" media="all" />
    <link rel="stylesheet" href={{ asset("css/theme.css") }} type="text/css" media="all" />
    <!-- REVOLUTION CSS FILES -->
    <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/settings.css") }}>
    <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/layers.css") }}>
    <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/navigation.css") }}>
    <link rel="stylesheet" href={{ asset("css/custom.css") }} type="text/css" media="all" />

    <link rel="stylesheet" href={{ asset("fonts/Dusha_-_FIFA_World_Cup_2018.ttf") }} type="text/css" media="all" />


</head>



<body class="page_with_abs_header">

<div id="main_header" class="type4">
    <div class="tagline show_hide">
        <div class="container">
            <div class="fright">
                <div class="tagline_items">
                    <div class="log_in_out">
                        <a href={{ path("LoginModele") }}><i class="fa fa-sign-in"></i> Login</a>
                        <!-- Login submenu -->
                        <!--<div class="login_submenu">
                            <form action="javascript:void(0);" method="post">
                                <input type="text" placeholder="Email or Login*" value="" name="name">
                                <input type="password" placeholder="Password*" value="" name="password">
                                <div class="remember_me"><label><input name="remember" type="checkbox" checked value="remember">Remember Password?</label></div>
                                <a href="javascript:void(0);" class="shortcode_button left_icon btn_normal btn_type3"><i class="fa fa-sign-in"></i>Log in</a>
                            </form>
                        </div>-->
                        <!-- //Login submenu -->
                    </div>


                    <div class="social_icons">
                        <ul>
                            <li><span>Follow:</span></li>
                            <li><a class="soc_fb" href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a class="soc_tweet" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="soc_instagram" href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="soc_dribbble" href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="soc_pinterest" href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                            <li><a class="soc_flickr" href="javascript:void(0);"><i class="fa fa-flickr"></i></a></li>
                        </ul>
                    </div>
                    <div class="language_select">
                        <div class="selectBox">
                            <span class="selected"></span>
                            <span class="selectArrow"></span>
                            <div class="selectOptions">
                                <span class="selectOption" data-value="english"><img src={{ asset("img/imgs/uk_flag.png") }} alt="" />Eng</span>
                                <span class="selectOption" data-value="germany"><img src={{ asset("img/imgs/germany_flag.png") }} alt="" />Ger</span>
                                <span class="selectOption" data-value="france"><img src={{ asset("img/imgs/france_flag.png") }} alt="" />Fr</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centrer"><iframe src="http://www.decompte.net/compte-a-rebours.php?c=1528936620&s=1&r=0" id="w2" width="300" height="50" marginheight="0" marginwidth="0" align="middle" scrolling="No" frameborder="0">iframe désactivée</iframe></div>
            <div class="fleft">
                <div class="phone"><i class="fa fa-phone"></i> +216 50649211</div>
                <div class="email"><a href="mailto:#"><i class="fa fa-envelope"></i> russia.2018.esprit@gmail.com</a></div>
            </div>


            <div class="clear"></div>
        </div>
    </div>
    <div class="header_parent_wrap">
        <header>
            <div class="container">
                <div class="logo_sect">
                    <a href={{ path("IndexModele") }} class="logo"><img src={{ asset("img/1.png") }} class="logo_def" alt="" /><img src={{ asset("img/1.png") }} class="logo_retina" alt="" /></a>
                </div>
                <div class="fright">
                    <nav>
                        <ul class="menu">
                            <li class="current-menu-parent menu-item-has-children megamenu mega_submenu"><a href={{ path("IndexModele") }}>Accueil</a>
                                <div class="sub-nav">
                                    <div class="megamenu_wrap">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li class="current-menu-item"><a href="index.html">Personal Portfolio</a></li>
                                                        <li><a href="home_creative_agency.html">Creative Agency</a></li>
                                                        <li><a href="home_photo_studio.html">Photography Studio</a></li>
                                                        <li><a href="home_blog.html">Blog with Top Slider</a></li>
                                                        <li><a href="home_spa_onepage.html">Spa Onepage Scroll</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_health_care.html">Health Care</a></li>
                                                        <li><a href="home_travel_agency.html">Travel Agency</a></li>
                                                        <li><a href="home_real_estate.html">Real Estate</a></li>
                                                        <li><a href="home_barber_shop.html">Barber Shop</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_cleaning.html">Cleaning</a></li>
                                                        <li><a href="home_construction.html">Construction</a></li>
                                                        <li><a href="home_auto_service.html">Auto Service</a></li>
                                                        <li><a href="home_development_agency.html">Design Agency</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_handyman.html">Handyman</a></li>
                                                        <li><a href="home_hosting.html">Hosting</a></li>
                                                        <li><a href="home_lawyer.html">Lawyer</a></li>
                                                        <li><a href="home_pets_grooming.html">Pets Grooming</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href={{ path("ActualiteModele") }}>Actualité</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href={{ path("ActualiteModele") }}>About</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href={{ path("ActualiteModele") }}>About 1</a></li>
                                                    <li><a href={{ path("ActualiteModele") }}>About 2</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="careers.html">Careers</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Gallery</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="gallery_grid.html">Grid</a></li>
                                                    <li><a href="gallery_masonry.html">Masonry</a></li>
                                                    <li><a href="gallery_round.html">Round</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="showreel.html">Showreel</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                        <li><a href="coming_soon.html">Coming Soon</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Recommandations</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Grid</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio_1col.html">1 Column</a></li>
                                                    <li><a href="portfolio_2col.html">2 Columns</a></li>
                                                    <li><a href="portfolio_3col.html">3 Columns</a></li>
                                                    <li><a href="portfolio_4col.html">4 Columns</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="portfolio_masonry.html">Masonry</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio_post_fullwidth.html">Fullwidth Post</a></li>
                                                    <li><a href="portfolio_post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="portfolio_post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Match/Resultat</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="blog_fullwidth.html">Fullwidth Blog</a></li>
                                        <li><a href="blog_right_sidebar.html">With Right Sidebar</a></li>
                                        <li><a href="blog_left_sidebar.html">With Left Sidebar</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="post_fullwidth.html">Fullwidth Post</a></li>
                                                    <li><a href="post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Equipes</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">All Products</a></li>
                                        <li><a href="shop_product.html">Single Product</a></li>
                                        <li><a href="shop_cart.html">Cart</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Bet</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href={{ path("ContactModele") }}>Fullwidth</a></li>
                                        <li><a href={{ path("ContactModele") }}>With Right Sidebar</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Cadeaux</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="contact_fullwidth.html">Fullwidth</a></li>
                                        <li><a href="contact_sidebar.html">With Right Sidebar</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href={{ path("ContactModele") }}>Contact</a>

                            </li>
                        </ul>
                    </nav>
                    <!--<div class="top_search">
                        <a href="javascript:void(0);" class="search_btn not_click">Search Button</a>
                        <div class="top_search_wrap not_click">
                            <form name="search_form" method="get" action="#" class="search_form not_click">
                                <input type="text" name="s" value="" placeholder="Search" class="not_click">
                                <input type="submit" value="Go">
                            </form>
                        </div>
                    </div>-->
                    <div class="cart_in_header"></div><div class="socials_in_header"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
    </div>
</div>



{% block body %}
{% endblock %}

<div class="footer type2">
    <div class="pre_footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="sidepanel widget_text">
                        <h6 class="title">Contact Info</h6>
                        <div class="textwidget contact_text">
                            <div class="section">
                                <p>Welcome to Elite Masters. We are glad to have you around. If you need to contact us, you can use the details below.</p>
                            </div>
                            <div class="section">
                                <p class="section_title"><i class="fa fa-phone"></i> Phone Number:</p>
                                <p class="pl15">(+216) 50649211- <span>Central Office</span></p>
                            </div>
                            <div class="section">
                                <p class="section_title"><i class="fa fa-map-marker"></i> Office:</p>
                                <p class="pl15">74 West 55 Street, New York, NY</p>
                            </div>
                            <div class="section">
                                <p class="section_title"><i class="fa fa-envelope"></i> Email:</p>
                                <p class="pl15"><a href="mailto:#">russia.2018.esprit@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidepanel widget_posts">
                        <h6 class="title">Recent Posts</h6>
                        <ul class="recent_posts">
                            <li class="with_img">
                                <div class="recent_posts_content">
                                    <img src={{ asset("img/imgs/widget_post1.jpg") }} alt="" />
                                    <a href="javascript:void(0);" class="title">Duis Aute Irure Dolor</a>
                                    <div class="recent_posts_info">June 09, 2018</div>
                                </div>
                            </li>
                            <li class="with_img">
                                <div class="recent_posts_content">
                                    <img src={{ asset("img/imgs/widget_post2.jpg") }} alt="" />
                                    <a href="javascript:void(0);" class="title">Temporibus Autem Quibusdam</a>
                                    <div class="recent_posts_info">June 08, 2018</div>
                                </div>
                            </li>
                            <li class="with_img">
                                <div class="recent_posts_content">
                                    <img src={{ asset("img/imgs/widget_post3.jpg") }} alt="" />
                                    <a href="javascript:void(0);" class="title">Saepe Eveniet Ut Et</a>
                                    <div class="recent_posts_info">June 06, 2018</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidepanel widget_nav_menu">
                        <h6 class="title">Useful Links</h6>
                        <ul>
                            <li><a href={{ path("IndexModele") }}>Accueil</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Actualité</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Recommandations</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Match\Resultat</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Equipes</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Bet</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Cadeaux</a></li>
                            <li><a href={{ path("ContactModele") }}>Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidepanel widget_flickr">
                        <h6 class="title">Flickr Photostream</h6>
                        <div class="flickr_widget_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="foot_info_block">
                <div class="logo_sect">
                    <a href={{ path("IndexModele") }} class="logo"><img  src={{ asset("img/1.png") }} class="logo_def" alt="" /><img  src={{ asset("img/2.png") }} class="logo_retina" alt="" /></a>
                </div>
                <div class="copyright">Copyright &copy; 2020 Elite Masters. All Rights Reserved.</div>
                <div class="foot_slogan">Easy to Use and Flexible Multipurpose HTML Template</div>
                <div class="foot_menu">
                    <ul>
                        <li><a href={{ path("IndexModele") }}>Accueil</a></li>
                        <li><a href={{ path("ActualiteModele") }}>Actualité</a></li>
                        <li><a href={{ path("ActualiteModele") }}>Recommandations</a></li>
                        <li><a href={{ path("ActualiteModele") }}>Match\Resultat</a></li>
                        <li><a href={{ path("ActualiteModele") }}>Equipes</a></li>
                        <li><a href={{ path("ActualiteModele") }}>Bet</a></li>
                        <li><a href={{ path("ActualiteModele") }}>Cadeaux</a></li>
                        <li><a href={{ path("ContactModele") }}>Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="social_icons">
                <ul>

                    <li><span>Follow:</span></li>
                    <li><a class="soc_fb" href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a class="soc_tweet" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="soc_instagram" href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="soc_dribbble" href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="soc_pinterest" href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="soc_flickr" href="javascript:void(0);"><i class="fa fa-flickr"></i></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="fixed-menu"></div>
<script type="text/javascript" src={{ asset("js/jquery.countdown.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/jquery.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/jquery-ui.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/bootstrap.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/modules.js") }}></script>
<script type="text/javascript" src={{ asset("js/theme.js") }}></script>
<!-- Portfolio -->
<script type="text/javascript" src={{ asset("js/jquery.isotope.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/sorting.js") }}></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src={{ asset("revolution/js/jquery.themepunch.tools.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/jquery.themepunch.revolution.min.js") }}></script>

<!-- SLIDER REVOLUTION EXTENSIONS (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.actions.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.carousel.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.kenburn.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.layeranimation.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.migration.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.navigation.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.parallax.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.slideanims.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/extensions/revolution.extension.video.min.js") }}></script>
<!-- END SLIDER REVOLUTION EXTENSIONS -->
<script type="text/javascript" src={{ asset("js/jquery.countdown.min.js") }}></script>
<script>
    function gt3_centerWindow() {
        "use strict";
        var globalWrap = jQuery('.global_count_wrapper');
        var countWrapper = jQuery('.countdown_wrapper');
        var countTitle = jQuery('.count_title');
        var window_h = jQuery(window).height();
        var countContainer = jQuery('.count_container_wrapper');
        var freeSpace = (window_h - countWrapper.height() - countTitle.height() - countContainer.height())/2.394;
        countTitle.css('top', freeSpace+'px');
        countContainer.css('bottom', freeSpace +'px');
        globalWrap.css('height', window_h + 'px');
        var setMiddle = freeSpace*1.162 + countTitle.height();
        countWrapper.css('top', setMiddle+'px');
    }
    jQuery(function () {
        "use strict";
        var austDay = new Date(2018,6-1, 16); //year, month-1, day
        jQuery('#countdown').countdown({
            until: austDay,
            padZeroes: true
        });
    });
    jQuery(document).ready(function(){
        "use strict";
        gt3_centerWindow();
    });
    jQuery(window).resize(function(){
        "use strict";
        gt3_centerWindow();
    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        "use strict";
        jQuery('.fullscreen_slider').show().revolution({
            sliderType:"standard",
            jsFileLocation:"revolution/js/",
            sliderLayout:"fullscreen",
            delay:5000,
            gridwidth:1170,
            gridheight:450,
            navigation: {
                keyboardNavigation: "on",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                onHoverStop: "on",
                touch: {
                    touchenabled: "on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                },
                arrows: {
                    style: "custom_gt3",
                    enable: false,
                    hide_onmobile: true,
                    hide_onleave: true,
                    left: {
                        h_align: "left",
                        v_align: "center",
                        h_offset: 50,
                        v_offset: 0
                    },
                    right: {
                        h_align: "right",
                        v_align: "center",
                        h_offset: 50,
                        v_offset: 0
                    }
                },
                bullets: {
                    style: "custom_gt3",
                    enable: false,
                    hide_onmobile: false,
                    hide_onleave: true,
                    direction: "horizontal",
                    h_align: "center",
                    v_align: "bottom",
                    h_offset: 0,
                    v_offset: 30,
                    space: 10,
                    tmp:''
                }
            },
            fullScreenOffsetContainer: "#main_header"
        });
    });
</script>
</body>

<!-- Mirrored from livewp.site/html/elitemasters/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Mar 2018 09:21:36 GMT -->
