<!DOCTYPE html>
<html>

<!-- Mirrored from livewp.site/html/elitemasters/contact_sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Mar 2018 09:23:13 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href={{ asset("img/favicon.ico") }} type="image/x-icon">
    <link rel="apple-touch-icon" href={{ asset("img/apple_icons_57x57.png") }}>
    <link rel="apple-touch-icon" sizes="72x72" href={{ asset("img/apple_icons_72x72.png") }}>
    <link rel="apple-touch-icon" sizes="114x114" href={{ asset("img/apple_icons_114x114.png" )}}>
    <title>OC Plateforme</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href={{ asset("css/bootstrap.min.css") }} type="text/css" media="all" />
    <link rel="stylesheet" href={{ asset("css/theme.css") }} type="text/css" media="all" />
    <!-- REVOLUTION CSS FILES -->
    <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/settings.css") }}>
    <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/layers.css") }}>
    <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/navigation.css") }}>
    <link rel="stylesheet" href={{ asset("css/custom.css") }} type="text/css" media="all" />

    <link rel="stylesheet" href={{ asset("fonts/Dusha_-_FIFA_World_Cup_2018.ttf") }} type="text/css" media="all" />
</head>
<body>
<div id="main_header" class="type1">
    <div class="tagline show_hide">
        <div class="container">
            <div class="fright">
                <div class="tagline_items">
                    <div class="log_in_out">
                        <a href={{ path("LoginModele") }}><i class="fa fa-sign-in"></i> Login</a>
                        <!-- Login submenu -->

                        <!-- //Login submenu -->
                    </div>

                    <div class="social_icons">
                        <ul>
                            <li><span>Follow:</span></li>
                            <li><a class="soc_fb" href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a class="soc_tweet" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="soc_instagram" href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="soc_dribbble" href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="soc_pinterest" href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                            <li><a class="soc_flickr" href="javascript:void(0);"><i class="fa fa-flickr"></i></a></li>
                        </ul>
                    </div>
                    <div class="language_select">
                        <div class="selectBox">
                            <span class="selected"></span>
                            <span class="selectArrow"></span>
                            <div class="selectOptions">
                                <span class="selectOption" data-value="english"><img src={{ asset("img/imgs/uk_flag.png") }} alt="" />Eng</span>
                                <span class="selectOption" data-value="germany"><img src={{ asset("img/imgs/germany_flag.png") }} alt="" />Ger</span>
                                <span class="selectOption" data-value="france"><img src={{ asset("img/imgs/france_flag.png") }} alt="" />Fr</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centrer"><iframe src="http://www.decompte.net/compte-a-rebours.php?c=1528936620&s=1&r=1528936620" id="w2" width="300" height="50" marginheight="0" marginwidth="0" align="middle" scrolling="No" frameborder="0">iframe désactivée</iframe></div>
            <div class="fleft">
                <div class="phone"><i class="fa fa-phone"></i> +216 50649211</div>
                <div class="email"><a href="mailto:#"><i class="fa fa-envelope"></i> russia.2018.esprit@gmail.com</a></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header_parent_wrap">
        <header>
            <div class="container">
                <div class="logo_sect">
                    <a href={{ path("IndexModele") }} class="logo"><img src={{ asset("img/1.png") }} class="logo_def" alt="" /><img src={{ asset("img/1.png") }} class="logo_retina" alt="" /></a>
                </div>
                <div class="fright">
                    <nav>
                        <ul class="menu">
                            <li class="menu-item-has-children"><a href={{ path("IndexModele") }}>Accueil</a>
                                <div class="sub-nav">
                                    <div class="megamenu_wrap">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li class="current-menu-item"><a href={{ path("IndexModele") }}>Personal Portfolio</a></li>
                                                        <li><a href="home_creative_agency.html">Creative Agency</a></li>
                                                        <li><a href="home_photo_studio.html">Photography Studio</a></li>
                                                        <li><a href="home_blog.html">Blog with Top Slider</a></li>
                                                        <li><a href="home_spa_onepage.html">Spa Onepage Scroll</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_health_care.html">Health Care</a></li>
                                                        <li><a href="home_travel_agency.html">Travel Agency</a></li>
                                                        <li><a href="home_real_estate.html">Real Estate</a></li>
                                                        <li><a href="home_barber_shop.html">Barber Shop</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_cleaning.html">Cleaning</a></li>
                                                        <li><a href="home_construction.html">Construction</a></li>
                                                        <li><a href="home_auto_service.html">Auto Service</a></li>
                                                        <li><a href="home_development_agency.html">Design Agency</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="sub-menu">
                                                        <li><a href="home_handyman.html">Handyman</a></li>
                                                        <li><a href="home_hosting.html">Hosting</a></li>
                                                        <li><a href="home_lawyer.html">Lawyer</a></li>
                                                        <li><a href="home_pets_grooming.html">Pets Grooming</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href={{ path("ActualiteModele") }}>Actualité</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href={{ path("ActualiteModele") }}>About</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href={{ path("ActualiteModele") }}>About 1</a></li>
                                                    <li><a href={{ path("ActualiteModele") }}>About 2</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="careers.html">Careers</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Gallery</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="gallery_grid.html">Grid</a></li>
                                                    <li><a href="gallery_masonry.html">Masonry</a></li>
                                                    <li><a href="gallery_round.html">Round</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="showreel.html">Showreel</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                        <li><a href="coming_soon.html">Coming Soon</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Recommandations</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Grid</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio_1col.html">1 Column</a></li>
                                                    <li><a href="portfolio_2col.html">2 Columns</a></li>
                                                    <li><a href="portfolio_3col.html">3 Columns</a></li>
                                                    <li><a href="portfolio_4col.html">4 Columns</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="portfolio_masonry.html">Masonry</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio_post_fullwidth.html">Fullwidth Post</a></li>
                                                    <li><a href="portfolio_post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="portfolio_post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Match/Resultat</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="blog_fullwidth.html">Fullwidth Blog</a></li>
                                        <li><a href="blog_right_sidebar.html">With Right Sidebar</a></li>
                                        <li><a href="blog_left_sidebar.html">With Left Sidebar</a></li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="post_fullwidth.html">Fullwidth Post</a></li>
                                                    <li><a href="post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Equipes</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">All Products</a></li>
                                        <li><a href="shop_product.html">Single Product</a></li>
                                        <li><a href="shop_cart.html">Cart</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Bet</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href={{ path("ContactModele") }}>Fullwidth</a></li>
                                        <li><a href={{ path("ContactModele") }}>With Right Sidebar</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="javascript:void(0);">Cadeaux</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="contact_fullwidth.html">Fullwidth</a></li>
                                        <li><a href="contact_sidebar.html">With Right Sidebar</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="current-menu-parent menu-item-has-children megamenu mega_submenu"><a href={{ path("ContactModele") }}>Contact</a>

                            </li>
                        </ul>
                    </nav>
                    <!--<div class="top_search">
                        <a href="javascript:void(0);" class="search_btn not_click">Search Button</a>
                        <div class="top_search_wrap not_click">
                            <form name="search_form" method="get" action="#" class="search_form not_click">
                                <input type="text" name="s" value="" placeholder="Search" class="not_click">
                                <input type="submit" value="Go">
                            </form>
                        </div>
                    </div>-->
                    <div class="cart_in_header"></div><div class="socials_in_header"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
    </div>
</div>

<div class="breadcrumbs">
    <div class="container">
        <a href={{ path("IndexModele") }}>Accueil</a><span>Contact</span>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="content_block row right-sidebar">
            <div class="page_title">
                <h1>Nous Sommes Toujours Ouverts à Parler</h1>
                <div class="icon_divider"></div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
            </div>
            <div class="fl-container hasRS">
                <div class="posts-block">
                    <div class="contentarea">

                        <div class="row">
                            <div class="col-sm-12 module_cont pb43 module_google_map">
                                <div class="module_content">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d193356.30033211538!2d-74.14378927636719!3d40.779788704576234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sua!4v1431099032860"></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont contact_form_module pb10">
                                <h4>Drop Us a Line</h4>
                                <p class="required">Your email address will not be published. Required fields are marked *</p>
                                <div class="row">
                                    <div class="col-sm-8 module_cont pb20">
                                        <div class="module_content contact_form">
                                            <div id="note"></div>
                                            <div id="fields">
                                                <form id="ajax-contact-form" action="#">
                                                    <input type="text" name="name" value="" placeholder="Name *" />
                                                    <input type="text" name="email" value="" placeholder="Email *" />
                                                    <input type="text" name="subject" value="" placeholder="Subject" />
                                                    <textarea name="message" id="message" placeholder="Message *"></textarea>
                                                    <div class="comment_submit_wrap">
                                                        <i class="fa fa-hand-o-right"></i>
                                                        <input type="submit" value="Send message">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont pb20">
                                        <div class="textwidget contact_text">
                                            <div class="section">
                                                <p class="section_title"><i class="fa fa-phone"></i> Phone Number:</p>
                                                <p class="pl15">+216 50649211 - <span>Central Office</span></p>

                                            </div>
                                            <div class="section">
                                                <p class="section_title"><i class="fa fa-map-marker"></i> Office:</p>
                                                <p class="pl15">EspritIncubator, Ghazela , Tunisie</p>
                                            </div>
                                            <div class="section">
                                                <p class="section_title"><i class="fa fa-envelope"></i> Email:</p>
                                                <p class="pl15"><a href="mailto:#">russia.2018.esprit@gmail.com</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont module_feature_portfolio pb50">
                                <div class="items3 featured_portfolio clearfix">
                                    <div class="featured_portf_item">
                                        <div class="portf_img">
                                            <a href="portfolio_post_fullwidth.html">
                                                <img alt="" src="img/portfolio/270_200/13.jpg" />
                                            </a>
                                        </div>
                                        <div class="portf_descr">
                                            <h6 class="portf_title"><a href="portfolio_post_fullwidth.html">Greeting Card Mock-Up</a></h6>
                                            <div class="listing_meta">
                                                <span><i class="fa fa-bookmark-o"></i><a href="javascript:void(0);">Graphic Design</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="featured_portf_item">
                                        <div class="portf_img">
                                            <a href="portfolio_post_fullwidth.html">
                                                <img alt="" src="img/portfolio/270_200/14.jpg" />
                                            </a>
                                        </div>
                                        <div class="portf_descr">
                                            <h6 class="portf_title"><a href="portfolio_post_fullwidth.html">A4 PSD Mock-Up</a></h6>
                                            <div class="listing_meta">
                                                <span><i class="fa fa-bookmark-o"></i><a href="javascript:void(0);">Mock-Ups</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="featured_portf_item">
                                        <div class="portf_img">
                                            <a href="portfolio_post_fullwidth.html">
                                                <img alt="" src="img/portfolio/270_200/15.jpg" />
                                            </a>
                                        </div>
                                        <div class="portf_descr">
                                            <h6 class="portf_title"><a href="portfolio_post_fullwidth.html">Ceramic Bottle PSD Mock-Up</a></h6>
                                            <div class="listing_meta">
                                                <span><i class="fa fa-bookmark-o"></i><a href="javascript:void(0);">Mock-Ups</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="right-sidebar-block">

                <div class="sidepanel widget_search">
                    <form name="search_form" method="get" action="javascript:void(0);" class="search_form">
                        <input type="text" name="s" value="" placeholder="Search the Site">
                        <input type="submit" value="Go">
                    </form>
                </div>

                <div class="sidepanel widget_categories">
                    <h6 class="title">Categories</h6>
                    <ul>
                        <li class="cat-item"><a href="javascript:void(0);">Auto Service</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Barber Shop</a></li>
                        <li class="cat-item current-menu-item"><a href="javascript:void(0);">Cleaning</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Construction</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Development Agency</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Handyman</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Health Care</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Hosting</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Lawyer</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Pets Grooming</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Photo Studio</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Real Estate</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Spa Salon</a></li>
                        <li class="cat-item"><a href="javascript:void(0);">Travel Agency</a></li>
                    </ul>
                </div>

                <div class="sidepanel widget_posts">
                    <h6 class="title">Recent Posts</h6>
                    <ul class="recent_posts">
                        <li class="with_img">
                            <div class="recent_posts_content">
                                <img src="img/imgs/widget_post1.jpg" alt="" />
                                <a href="javascript:void(0);" class="title">Duis Aute Irure Dolor</a>
                                <div class="recent_posts_info">June 09, 2018</div>
                            </div>
                        </li>
                        <li class="with_img">
                            <div class="recent_posts_content">
                                <img src="img/imgs/widget_post2.jpg" alt="" />
                                <a href="javascript:void(0);" class="title">Temporibus Autem Quibusdam</a>
                                <div class="recent_posts_info">June 08, 2018</div>
                            </div>
                        </li>
                        <li class="with_img">
                            <div class="recent_posts_content">
                                <img src="img/imgs/widget_post3.jpg" alt="" />
                                <a href="javascript:void(0);" class="title">Saepe Eveniet Ut Et</a>
                                <div class="recent_posts_info">June 06, 2018</div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="sidepanel widget_tag_cloud">
                    <h6 class="title">Popular Tags</h6>
                    <div class="tagcloud">
                        <a href="javascript:void(0);">Wordpress</a>
                        <a href="javascript:void(0);">html 5</a>
                        <a href="javascript:void(0);">photoshop</a>
                        <a href="javascript:void(0);">woocommerce</a>
                        <a href="javascript:void(0);">wordpress</a>
                        <a href="javascript:void(0);">css</a>
                        <a href="javascript:void(0);">photoshop</a>
                    </div>
                </div>

                <div class="sidepanel widget_flickr">
                    <h6 class="title">Flickr Photostream</h6>
                    <div class="flickr_widget_wrapper"></div>
                </div>

                <div class="sidepanel widget_text">
                    <h6 class="title">Text Widget</h6>
                    <div class="textwidget">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit proin felis magna lacinia nec aliquet a volutpat laoreet sapien aliquam convallis nec dolor lorem.</p>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="pre_footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="sidepanel widget_text">
                        <h6 class="title">Contact Info</h6>
                        <div class="textwidget contact_text">
                            <div class="section">
                                <p>Welcome to Elite Masters. We are glad to have you around. If you need to contact us, you can use the details below.</p>
                            </div>
                            <div class="section">
                                <p class="section_title"><i class="fa fa-phone"></i> Phone Number:</p>
                                <p class="pl15">+216 50649211 - <span>Central Office</span></p>
                            </div>
                            <div class="section">
                                <p class="section_title"><i class="fa fa-map-marker"></i> Office:</p>
                                <p class="pl15">Esprit Encubator,Ghazela,Tunisie</p>
                            </div>
                            <div class="section">
                                <p class="section_title"><i class="fa fa-envelope"></i> Email:</p>
                                <p class="pl15"><a href="mailto:#">russia.2018.esprit@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidepanel widget_posts">
                        <h6 class="title">Recent Posts</h6>
                        <ul class="recent_posts">
                            <li class="with_img">
                                <div class="recent_posts_content">
                                    <img src="img/imgs/widget_post1.jpg" alt="" />
                                    <a href="javascript:void(0);" class="title">Duis Aute Irure Dolor</a>
                                    <div class="recent_posts_info">June 09, 2018</div>
                                </div>
                            </li>
                            <li class="with_img">
                                <div class="recent_posts_content">
                                    <img src="img/imgs/widget_post2.jpg" alt="" />
                                    <a href="javascript:void(0);" class="title">Temporibus Autem Quibusdam</a>
                                    <div class="recent_posts_info">June 08, 2018</div>
                                </div>
                            </li>
                            <li class="with_img">
                                <div class="recent_posts_content">
                                    <img src="img/imgs/widget_post3.jpg" alt="" />
                                    <a href="javascript:void(0);" class="title">Saepe Eveniet Ut Et</a>
                                    <div class="recent_posts_info">June 06, 2018</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidepanel widget_nav_menu">
                        <h6 class="title">Useful Links</h6>
                        <ul>
                            <li><a href={{ path("IndexModele") }}>Accueil</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Actualité</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Recommandations</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Match\Resultat</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Equipes</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Bet</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Cadeaux</a></li>
                            <li><a href={{ path("ContactModele") }}>Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sidepanel widget_flickr">
                        <h6 class="title">Flickr Photostream</h6>
                        <div class="flickr_widget_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="foot_info_block">
                <div class="logo_sect">
                    <a href={{ path("IndexModele") }} class="logo"><img  src={{ asset("img/1.png") }} class="logo_def" alt="" /><img  src={{ asset("img/2.png") }} class="logo_retina" alt="" /></a>
                </div>
                <div class="copyright">Copyright &copy; 2020 Elite Masters. All Rights Reserved.</div>
                <div class="foot_slogan">Easy to Use and Flexible Multipurpose HTML Template</div>
                <div class="foot_menu">
                    <ul>
                        <ul>
                            <li><a href={{ path("IndexModele") }}>Accueil</a></li>
                            <li><a href={{ path("ActualiteModele") }}>Actualité</a></li>
                            <li><a href="service.html">Recommandations</a></li>
                            <li><a href="faq.html">Match\Resultat</a></li>
                            <li><a href="showreel.html">Equipes</a></li>
                            <li><a href="portfolio_masonry.html">Bet</a></li>
                            <li><a href="blog_right_sidebar.html">Cadeaux</a></li>
                            <li><a href={{ path("ContactModele") }}>Contacts</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="social_icons">
                <ul>
                    <li><span>Follow:</span></li>
                    <li><a class="soc_fb" href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a class="soc_tweet" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="soc_instagram" href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="soc_dribbble" href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="soc_pinterest" href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="soc_flickr" href="javascript:void(0);"><i class="fa fa-flickr"></i></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="fixed-menu"></div>
<script type="text/javascript" src={{ asset("js/jquery.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/jquery-ui.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/bootstrap.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/modules.js") }}></script>
<script type="text/javascript" src={{ asset("js/theme.js") }}></script>
<!-- Portfolio -->
<script type="text/javascript" src={{ asset("js/jquery.isotope.min.js") }}></script>
<script type="text/javascript" src={{ asset("js/sorting.js") }}></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src={{ asset("revolution/js/jquery.themepunch.tools.min.js") }}></script>
<script type="text/javascript" src={{ asset("revolution/js/jquery.themepunch.revolution.min.js") }}></script>
</body>

<!-- Mirrored from livewp.site/html/elitemasters/contact_sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Mar 2018 09:23:14 GMT -->
</html>