
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ asset('favicon.ico') }}">

        <title>Signin Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('signin.css') }}" rel="stylesheet">
    </head>
    <body class="text-center">

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
            <div class="alert alert-{{ type }}">
                <ul>
                   {% for message in messages %}
                   <li>
                        {{ message }}
                   </li>
                {% endfor %}
                </ul>

                {% endfor %}
        {% endif %}
</div>
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
